.navbar-red {

  background: #333 url("../motif-10.png") repeat scroll 0% 0%;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0px;
  border-radius: 0px;
  
}

.navbar-red .navbar-brand {
  color: #FF8415;
  font-size: 18px;
  font-style: oblique;
  padding-left: 2px;
  font-family: 'Haze Dark Demo'; 
}

.navbar-red .navbar-toggle .icon-bar{
background-color: #FF8415; 
}

.navbar-red a {
  color: white;
}

.navbar-red .navbar-nav > li > a:hover,
.navbar-red .navbar-nav > li > a:focus {
  color: #FF8415;
  background-color:transparent;
}

.navbar-red .navbar-toggle {
        border-color: white;
        background-color: transparent;
        
}

.navbar-red .navbar-toggle .icon-bar {
    background-color: #FF8415;
}

.navbar-red .navbar-brand span {
    background-color:transparent;
    color: white;
    border-radius: 0px 5px 5px 0px;
    
   
}

.post {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px; 
  background-color:rgba(0, 0, 0, 0.5) ;
  opacity:0.9;
  margin-top: 50px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  
}

footer{


  background: #676769 url("../motif-10.png");
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
   
}

section.module.parallax {
 
  background-position: 50% 50% ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  
}

section.module.parallax-1 {
  background-image: url("../fond.jpg");
  padding-bottom: 150px;
}
section.module.parallax-2 {
   background-color: white;
   padding-bottom: 150px;
}

.btn-red-orange {
  color: #fff;
  background-color: #FF8415;
  border-color: #FF8415;
  margin-left: 10px;
}

.btn-red-orange :hover {
  color: #FF8415;
  background-color: #FFF;
  border-color: #FFF;
  
}

.jumb {
  min-height: 20px;
  padding: 150px;
  margin-bottom: 50px; 
  background-color: transparent;
  margin-top: 50px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  border: solid 1px gray;
  
}


























